name: Backup database

on:
  schedule:
    - cron: '30 05 * * *'  # 每天 UTC 22:56（如果你想要这个时间；否则保持 '0 0 * * *'）
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Dump roles
        run: supabase db dump --db-url "${{ secrets.SUPABASE_DB_URL }}" -f roles.sql --role-only
      - name: Dump schema
        run: supabase db dump --db-url "${{ secrets.SUPABASE_DB_URL }}" -f schema.sql
      - name: Dump data
        run: supabase db dump --db-url "${{ secrets.SUPABASE_DB_URL }}" -f data.sql --data-only --use-copy
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Daily Supabase backup - $(date +'%Y-%m-%d')
